/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2', sans-serif;
  /* height: 100vh; */
}
main{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

/* regole scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: lightgrey;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* regole debug */
div{
  /* width: 100%; */
  /* background-color: blue; */
  /* border: 1px solid black; */
}

/* colonna sinistra fissa */
.colonna1{
  background-color: #040404;
  height: calc(100vh - 80px);
  width: 180px;
  flex-shrink: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px;
}
#logo{
  width: 130px;
  height: auto;
  margin: 10px 0;
}
ul img{
  width: 25px;
  height: auto;
}
ul > li{
  padding: 5px;
}
a, .alpha{
  display: flex;
  text-decoration: none;
  color: white;
}
li:hover{
  background-color: lightgrey;
  border-radius: 5px;
  border-left: 5px solid green;
}
.beta{
  padding-left: 10px;
  align-self: center;
}
.colonna1 h3{
  padding-left: 5px;
}
.square{
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  transition: 1s;
}
.square:hover{
  transform: scale(1.2);
  border-radius: 50%;
}
.square span{
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.garden{
  align-self: center;
}
.playlist{
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.playlist li:hover{
  background-color: lightgrey;
  border-radius: 5px;
  border-left: 0px;
}
.gamma{
  position: absolute;
  bottom: 10px;
}
.gamma img{
  width: 20px;
  height: auto;
}
.gamma  span{
  padding: 5px;
}
.gamma > div{
  margin: 5px 0;
}

/* colonna1 MOBILE */
.colonna1mobile{
  display: none;
  position: relative;
  width: 60px;
  flex-shrink: 1;
  height: calc(100vh - 80px);
  background-color: black;
}
.logosmall{
  width: 30px;
  height: auto;
  margin: 10px auto 0;
}
.gamma1{
  position: absolute;
  bottom: 5%;
  left: 30%;
}
.logopiccolo{
  width: 15px;
  height: auto;
  margin-top: 10px;
}



/* colonna destra contenuto */
.colonna2{
  height: calc(100vh - 80px);
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0px 0px 0px 180px;
  overflow-y: scroll;
}
#upgrade{
  position: fixed;
  z-index: 100;
  opacity: 0.92;
  height: 80px;
  width: calc(100% - 12px);
  padding-right: 12px;
  background-color: #090909;
}
.botton{
  background-color: #00000000;
  border: 2px solid white;
  border-radius: 500px;
  height: 50px;
  width: 200px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50% , -50%);
  transition: all 2s;
}
.botton p{
  color: white;
  text-align: center;
  line-height: 45px;
  width: 100%;
  text-transform: uppercase;
}
.botton:hover{
  background-color: grey;
}
.botton p:hover{
  color:black;
  transform: scale(1.2);
}
/* bottone che compare sotto i 320px */
#bottonspec{
  display: none;
  background-image: url(../img/download.svg);
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-50% , -50%);
}


/* sezione playlist e canzoni */
#matter{
  padding: 10px;
  margin-top: 80px;
  /* debug */
  background-color: pink;
  height: 100%;
  /* debug */
}


/* player per musica fisso in basso */
footer{
  /* debug */
  /* background-color: green; */
  /* debug */
  background-color: #6A7DDC;
  height: 80px;
  width: 100vw;
  border: 1px solid black;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: white;
}
footer img{
  transition: 0.5s;
}
footer img:hover{
  transform: scale(2);
}
/* debug */
/* .foot1, .foot2, .foot3{
  background-color: yellow;
  min-height: 60px;
} */
/* debug */

/* parte sinisra footer */
.foot1{
  display: flex;
  flex-basis: 20%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 3;
}
#play{
  margin-right: 10px;
}
#play > img{
  width: 50px;
  height: 50px;
  transform: none;
}
.footicon{
  margin-left: 10px;
  /* display: flex; */
  /* valutare se togliere flex */
}
.footicon span{
  margin: 0 5px;
  display: inline-block;
}
.footicon img{
  width: 15px;
  height: 15px;
}

/* parte centrale footer */
.foot2{
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 2;
}
.playertop{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* debug */
  /* background-color: blue; */
  height: 50%;
  /* debug */
}
.playertop img{
  width: 15px;
  height: 15px;
}

/* id per bottone play */
#circle{
  width: 20px;
  height: 20px;
}
.playertop span{
  margin: 0 6px;
}

/* barra scorrimento canzone */
.playerbot{
  /* debug */
  /* background-color: blue; */
  /* debug */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.barra{
  position: relative;
  background-color: white;
  height: 5px;
  width: 70%;
  margin: 4px 8px 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px #FFFFFF inset, 0 1px 0 #444;
}
.barra span{
  color: black;
  position:absolute;
  bottom: 50%;
  line-height: 5px;
  font-size: 30px;
  display: none;
}
.barra:hover span{
  display: block;
}

/* parte destra footer */
.foot3{
  display: flex;
  flex-basis: 20%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 3;
}
.barra1{
  position: relative;
  background-color: white;
  height: 5px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #FFFFFF inset, 0 1px 0 #444;
}
.barra1 span{
  color: black;
  position:absolute;
  bottom: 50%;
  line-height: 4px;
  font-size: 20px;
  display: none;
}
.barra1:hover span{
  display: block;
}

/* ****** MEDIA QUERIES ****** */

/* MOBILE */
@media all and (max-width: 465px) {
  .colonna1{
    width: 60px;
    flex-shrink: 1;
    height: calc(100vh - 80px);
    display: none;
  }
  .colonna1mobile{
    display:block;
  }
  .colonna2{
    padding: 0px 0px 0px 0px;
    height: calc(100vh - 80px);
  }
  .botton{
    right: 0;
  }
  footer{
    /* height: 60px; */
  }
}

/* TABLET */
@media all and (min-width: 466px) and (max-width: 991px) {
  .colonna1{
    width: 150px;
    flex-shrink: 1;
    height: calc(100vh - 80px);
  }
  .colonna2{
    padding: 0px 0px 0px 150px;
    height: calc(100vh - 80px);
  }
  footer{
    /* height: 60px; */
  }
}
/* PC SCREEN */
@media all and (min-width: 992px) and (max-width: 1199px) {
  .colonna1{

  }
  .colonna2{

  }
  footer{

  }
}

/* PC XL SCREEN */
@media all and (min-width: 1200px) {
  .colonna1{

  }
  .colonna2{

  }
  footer{

  }
}

/* COLLASSO CONTENITORE GAMMA IN HEIGHT 350  */
@media all and (max-height: 480px) {
  .gamma{
    display: none;
  }
  .gamma1{
    display: none;
  }
}
/* collasso bottone upgrade sotto i 320px */
@media all and (max-width: 320px) {
  .botton{
    display: none;
  }
  #bottonspec{
    display: block;
  }

}
