/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100vh;
}
main{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

/* regole scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: lightgrey;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* regole debug */
div{
  /* width: 100%; */
  background-color: blue;
  border: 1px solid black;
}

/* colonna sinistra fissa */
.colonna1{
  height: calc(100vh - 80px);
  width: 150px;
  flex-shrink: 0.5;
  position: fixed;
  left: 0;
  top: 0;
}


/* colonna destra contenuto */
.colonna2{
  height: calc(100vh - 80px);
  width: 100%;
  flex-shrink: 1;
  padding: 0px 0px 0px 150px;
}
#upgrade{
  position: fixed;
  height: 80px;
  width: 100%;
  /* debug */
 background-color: yellow;
  /* debug */
}
#matter{
  padding: 10px;
  overflow-y: scroll;
  margin-top: 80px;
  /* debug */
  background-color: pink;
  height: 100%;
  /* debug */
}


/* player per musica fisso in basso */
footer{
  background-color: green;
  height: 80px;
  width: 100vw;
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
}


/* ****** MEDIA QUERIES ****** */

/* MOBILE */
@media all and (max-width: 465px) {
  .colonna1{
    width: 60px;
    flex-shrink: 1;
    height: calc(100vh - 60px);
  }
  .colonna2{
    padding: 0px 0px 0px 60px;
    height: calc(100vh - 60px);
  }
  footer{
    height: 60px;
  }
}

/* TABLET */
@media all and (min-width: 466px) and (max-width: 991px) {
  .colonna1{
    width: 120px;
    flex-shrink: 1;
    height: calc(100vh - 60px);
  }
  .colonna2{
    padding: 0px 0px 0px 120px;
    height: calc(100vh - 60px);
  }
  footer{
    height: 60px;
  }
}
/* PC SCREEN */
@media all and (min-width: 992px) and (max-width: 1199px) {
  .colonna1{

  }
  .colonna2{

  }
  footer{

  }
}

/* PC XL SCREEN */
@media all and (min-width: 1200px) {
  .colonna1{

  }
  .colonna2{

  }
  footer{

  }
}
